<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit-=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Account</title>
  <!--This is the Bootstrap CSS-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans:wght@300;700&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="..\static\css.css">

</head>

<body>

  <div class="container">
    <!--Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark">
      <nav class="navbar navbar-light">
        <a class="navbar-brand" href="base.html">
          <img src="..\static\splogo.png" alt="logo" height="200px" width="200px">
        </a>
      </nav>


      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!--NORMAL BUTTONS-->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto float-right">
          <li class="nav-item ">
            <a class="nav-link text-white" href="/">Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/info">Info</a>
          </li>
          <!--BUTTON DROPDOWN-->
<!--          <li class="nav-item dropdown">-->
<!--            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown1" role="button"-->
<!--              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gallery-->
<!--            </a>-->
<!--            <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--              <a class="dropdown-item" href="year17.html">2017</a>-->
<!--              <a class="dropdown-item" href="year18.html">2018</a>-->
<!--              <a class="dropdown-item" href="year19.html">2019</a>-->
<!--              <a class="dropdown-item" href="year20.html">2020</a>-->


<!--              <div class="dropdown-divider"></div>-->
<!--              <a class="dropdown-item" href="seeall.html">See all</a>-->
<!--            </div>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link text-white" href="studio.html">Backgrounds</a>-->
<!--          </li>-->
           <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Profile
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="book.html">My Bookings</a>
                <a class="dropdown-item" href="{{url_for('auth.mystudios',name_surname=current_user.name_surname)}}">My Studios</a>
                <a class="dropdown-item" href="/account">Account</a>
                <a class="dropdown-item" href="/logout">Log out</a>
            </div>
          </li>


        </ul>

      </div>
    </nav>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10 col-xl-8 mx-auto">
                <h2 class="h3 mb-4 page-title">Change Password</h2>
                <div class="my-4">

                        <div class="row mt-5 align-items-center">

                        </div>


                        <hr class="my-4" />
                    {%with messages=get_flashed_messages(with_categories=true)%}
                    {% if messages %}
                    {% for category,message in messages %}
                    {% if category == 'error'%}
                    <div class="alert alert-danger alter-dismissable fade show" role="alert">
                        {{message}}
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% else %}
                    <div class="alert alert-success alter-dismissable fade show" role="alert">
                        {{message}}
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    {% endwith %}

                    <form action="/change_password/{{current_user.name_surname}}" method="POST">
                        <div class="row mb-4">

                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="inputPassword4">Old Password</label>
                                    <input type="password" class="form-control" id="inputPassword4" name="old_password" />
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword5">New Password</label>
                                    <input type="password" class="form-control" id="inputPassword5" name="new_password" />
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword6">Confirm Password</label>
                                    <input type="password" class="form-control" id="inputPassword6" name="conf_new_password"/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p class="mb-2">Password requirements</p>
                                <ul class="small text-muted pl-4 mb-0">
                                    <li>Minimum 8 character</li>
                                    <li>Can’t be the same as a previous password</li>
                                </ul>
                            </div>

                        </div>


                        <button type="submit" class="btn btn-outline-light" name="save_password" value="save_password">Save new password</button>
                    </form>



                </div>
            </div>
        </div>

        </div>

    </div>
    <!--This is the Bootstrap JS-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    </body>

    </html>