<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit-=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Studios</title>
    <!--This is the Bootstrap CSS-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans:wght@300;700&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="..\static\css.css">
<style>
    body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background-image: linear-gradient(to bottom right,#B1A6A4,#B6666F,);
}
</style>
</head>

<body>

<div class="container">
    <!--Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <nav class="navbar navbar-light">
            <a class="navbar-brand" href="/">
                <img src="..\static\splogo.png" alt="logo" height="200px" width="200px">
            </a>
        </nav>


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!--NORMAL BUTTONS-->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto float-right">
                <li class="nav-item ">
                    <a class="nav-link text-white" href="/">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/info">Info</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Profile
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/book">Book</a>
                        <a class="dropdown-item" href="{{url_for('auth.mybookings',user_id=current_user.id)}}">My
                            Bookings</a>
                        <a class="dropdown-item"
                           href="{{url_for('auth.mystudios',name_surname=current_user.name_surname)}}">My Studios</a>
                        <a class="dropdown-item" href="/account">Account</a>
                        <a class="dropdown-item" href="/logout">Log out</a>
                    </div>
                </li>


            </ul>

        </div>
    </nav>
    <div class="container">
        <div class="row">
            <hr class="my-4">
            {%with messages=get_flashed_messages(with_categories=true)%}
            {% if messages %}
            {% for category,message in messages %}
            {% if category == 'error'%}
            <div class="alert alert-danger alter-dismissable fade show" role="alert">
                {{message}}
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% else %}
            <div class="alert alert-success alter-dismissable fade show" role="alert">
                {{message}}
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}

            {% endwith %}
            <div class="col-xl-12 mx-auto">
                <p></p>


                {% if current_user.is_authenticated %}


                {% if studios %}


                <div class="col col-lg-12-sm-6">

                    {%for studio in studios%}
                    {% if studio.active==1 %}
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-2">
                                    <h5 class="card-title">{{studio.studio_name}}</h5></div>
                                <div class="col-2"><span class="card-text">{{studio.description}}</span></div>
                                <div class="col-2"><span class="card-text">{{studio.country}}</span>,
                                    <span class="card-text">{{studio.city}}</span>
                                </div>
                                <div class="col-2"><span class="card-text">{{studio.street}}</span></div>
                                <div class="col-2"><span class="card-text">&euro;{{studio.price}} </span></div>
                                {%if filenames%}
                                {%for filename in filenames %}
                                <div class="col-2"><img class="img"
                                                        src="{{request.url_root}}static/studios/{{ filename.pictures }}"
                                                        style="width:200px"></div>
                                {%endfor%}
                                {%endif%}

                            </div>


                            <!--                                                <a href="{{url_for('auth.studio_details',studio_name=studios.studio_name)}}" class="btn btn-outline-dark">Rent</a>-->
                            <br>
                            <form method="post">

                                <div class="raw">
                                    <div class="col-md-12 align-items-end ">
                                        <a class="btn btn-outline-dark"
                                           href="{{url_for('auth.studio_edit',studio_name_e=studio.studio_name)}}"
                                           role="button">Edit Studio details</a>
                                        <a class="btn btn-outline-dark"
                                           href="{{url_for('auth.delete_studio',studio_id=studio.id)}}" role="button">Delete
                                            Studio</a>
                                        <!--                                                      studio deleting-->

                                    </div>

                                </div>


                            </form>
                        </div>
                    </div>
                    {%endif%}
                    {%endfor%}
                    <br/>
                    <p>
                        <a class="btn btn-lg btn-outline-light" href="/new_studio" role="button">Add a new studio</a>


                    </p>

                </div>
                {% else %}
                <h1 style="text-align:center">Dear,
                    {{ current_user.name_surname}}</h1>

            </div>

            <div class="col-lg-12 col-md-6 text-center">
                <p>
                <h1 class="display-5 text-white text-center drop-shadow">
                    Add your studio to our application and get your clients as soon as possible</h1>
                </p>
                <form method="post" class="form-inline justify-content-center">
                    <p><a class="btn btn-lg btn-outline-light" href="/new_studio" role="button">Add Studio</a></p>


                </form>

            </div>
            <div class="mb-3">&nbsp;</div>



            {%endif%}
            {%endif%}

        </div>


    </div>
</div>

<!--This is the Bootstrap JS-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

</html>










